$animation-steps: 10;
$shadow-count: 10;

@function rainbow-shadow() {
  $value: ();
  $value: append($value, 0 0 1px #000, comma);

  @for $i from 1 to $shadow-count + 1 {
    $degree: ($i / $shadow-count) * 360;
    $color: hsla($degree, 100%, 50%, 0.5);
    $w_offset: (random(70) - 35) + px;
    $h_offset: (random(70) - 35) + px;

    $shadow: $w_offset $h_offset 0 $color;

    $value: append($value, $shadow, comma);
  }

  @return $value;
}

@mixin rainbow-animation() {
  @for $i from 0 to $animation-steps {
    $percent: $i / $animation-steps * 100%;
    #{$percent} {
      text-shadow: rainbow-shadow();
    }
  }
}

h1 {
  cursor: grab;
  &:active,
  &:focus {
    outline: 0;
    color: white;
    text-shadow: rainbow-shadow();
    animation: {
      name: rainbow-color;
      duration: 2s;
      iteration-count: infinite;
      timing-function: step-start;
      timing-function: ease-in-ease-out;
    }
  }
}

#canvas {
  height: 100vh;
  width: 100vw;
  position: absolute;
  inset: 0;
}

@keyframes rainbow-color {
  @include rainbow-animation();
}