$animation-steps: 10;
$shadow-count: 10;

@function pride-gradient-stops() {
  $pride-colors: (
    #ff1e26,
    #fe941e,
    #ffff00,
    #06bd00,
    #001a98,
    #760088,
    #ffffff,
    #fdafc7,
    #75d5eb,
    #603814,
    #000000
  );

  $gradient-stops: ();

  @each $color in $pride-colors {
    $index: index($pride-colors, $color);
    $gradient-stops: append($gradient-stops, $color  (($index - 1)  / length($pride-colors) * 100%), comma);
    $gradient-stops: append($gradient-stops, $color  ($index / length($pride-colors) * 100%), comma);
  }
  @return $gradient-stops;
}

@function rainbow-shadow() {
  $value: ();
  $value: append($value, 0 0 1px #000, comma);
  
  @for $i from 1 to $shadow-count + 1 {
    $degree: ($i / $shadow-count) * 360;
    $color: hsla($degree, 100%, 50%, 0.5);
    $w_offset: (random(70) - 35) + px;
    $h_offset: (random(70) - 35) + px;

    $shadow: $w_offset $h_offset 0 $color;

    $value: append($value, $shadow, comma);
  }

  @return $value;
}

@mixin rainbow-animation() {
  @for $i from 0 to $animation-steps {
    $percent: $i / $animation-steps * 100%;
    #{$percent} {
      text-shadow: rainbow-shadow();
    }
  }
}

h1 {
  cursor: grab;
  &:active,
  &:focus {
    outline: 0;
    color: white;
    text-shadow: rainbow-shadow();
    animation: {
      name: rainbow-color;
      duration: 2s;
      iteration-count: infinite;
      timing-function: step-start;
      timing-function: ease-in-ease-out;
    }
  }
}

body {
  overflow: hidden;
  &:focus-within {
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      height: 500vh;
      width: 500vw;
      background-image:
              radial-gradient(circle at 50% 50%, white , transparent 6%),
              conic-gradient(pride-gradient-stops());
      animation: {
        name: rotation;
        duration: 60s;
        iteration-count: infinite;
        timing-function: linear;
      }
    }
  }
}

@keyframes rainbow-color {
  @include rainbow-animation();
}

@keyframes rotation {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}